body {
  background-color: lightgrey;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 50%;
}

.list-item {
  flex: 25%;
}

.column {
  flex: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.right-column {
  border-left: 2px solid black;
}

.left-column {
  border-right: 2px solid black;
}